
<form action="" method="post" >
    <fieldset>
        <label for="sentence">Sentence:</label>
        <input type="text" size="80" id="sentence" name="sentence" placeholder="Enter a user's utterance to parse" /><br>
        <input type="submit" value="Parse" />
    </fieldset>
    <fieldset>
        <textarea name="parseResult" id="" cols="30" rows="10">{{ value }}</textarea>
        <pre>
            {{ error }}
        </pre>
    </fieldset>
</form>